.topContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 40px 125px 20px 125px;
    flex-wrap: wrap;
    gap: 6px;
}

.stepPaper {
    height: calc(100vh - 6em);
    overflow: auto;
    width: calc(100vh - 28em);
    background-color: #EEEEFF !important
}

.addBtn {
    background-color: #EEEEFF !important;
    color: black !important;
}

.stepLabel {
    display: flex;
    padding: 20px;
}

.stepContainer {
    display: flex !important;
}